<h1>Here are the Broodmares</h1>

<%= link_to "New Broodmare", new_broodmare_path %>

<% @broodmares.each do |broodmare| %>
    <div class="broodmare">

        <br>

        right before link_to broodmare.name

        <div><%= link_to broodmare.name, broodmare_path(broodmare) %>
            -
            <%= broodmare.stallion.name %>
      </div>
        <br>
        <br>
    </div>
<% end %>
