<h1>Your New Foal</h1>

<%= link_to "Your New Foal", new_foal_path %>

<% @foals.each do |foal| %>
    <div class="foal">

        <%= image_tag foal.img_url %>

        <br>

        right before link_to foal.name

        <div><%= link_to foal.name, foal_path(foal) %>
            -
            <%= foal.bloodmare.name %>
      </div>
        <br>
        <br>
    </div>
<% end %>
