                  <%# ############################################# %>
                  <%# # 201702221638L     EL MARTES   GIRO %>
                  <%# # GIRO: CHANGED stallion.each to @stallion.each %>

<h1>The Stallions</h1>
    <% @stallions.each do |stallion| %>
          <h2><%= link_to stallion.name, stallions_path %> </h2>
    <% end %>
