                  <%# ############################################# %>
                  <%# # 201702221638L     EL MARTES   GIRO %>
<h1>Our Stallions</h1>

<%= link_to "New Stallion", new_stallion_path %>


<% @stallions.each do |stallion| %>
    <div class="stallion">

        <br>

        <div><%= link_to stallion.name, stallion_path(stallion) %>
            -
            <%= stallion.name %>
      </div>
        <br>
        <br>
    </div>
<% end %>
