
    <h1>
          <%=                                      @stallion.name %>
          <%= link_to "(edit)", edit_stallion_path(@stallion)     %>
    </h1>

    <div                                    class="stallion">

          <%= image_tag (                         @stallion.img_url) %>

      </div>
